@import "./global.css";
body{
    background-color: transparent;
}
.navigation{
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 20);
    align-items: center;
    padding:10px 10px 10px 10px;
    justify-content: space-between;
}
h3{
    color: var(--hover-color);
    cursor: pointer;
    font-family: 'Arial', ;
}
ul li{
    list-style: none;
}
.catagories > a:first-child > li{
    color: red;
    padding-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.catagories > a > li{
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    transition: .5s;
}

.catagories > a:hover > li{
    color: var(--normal-text);
}

.catagories{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}
.image-container{
    width: 50px;
    height: 50px;
}
.image{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    padding-left: 13px; }
.image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.image{
    border: none;
    outline: none;
}

.image-container{
    margin-right: 20px;
    border: none;
    outline: none;
}
i{margin-right: 20px;
color: var(--hover-color);}
a{
    text-decoration: none;
    border: none;
    outline: none;
}
.image img:hover{
    border: 2px solid var(--hover-color);
    cursor: pointer;
}
h3{
    color: black;
}
.catagories a{
    margin-left: 15px;
}
.video{
    position: relative;
}
.video-buttons{
    position: absolute;
    top: 0;
}
p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--hover-color);
    max-width: 550px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.arcane{
    margin-right:100px;
}
.play-button{
    display: flex;
    flex-direction: row;
    background-color: var(--hover-color);
    margin-right: 10px;
    align-items: center;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;

}
.info-button{
    display: flex;
    flex-direction: row;
    background-color: var(--normal-text);
    align-items: center;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;

}
.play-button h3{
    color: black;
}
.info-button h3{
    color: white;
}
.fa-solid.fa-play{
    color: black;
}
.options{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.arcane{
    width:  370px;
    height: 100px;
    display: flex;
    margin-left: 85px;
    margin-top: 400px;
    margin-bottom: 20px;
}
.arcane img{
    width: 100%;
    height: 100%;
}
.options i{
    margin-right: 10px;
}
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}