body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/0552717c-9d8c-47bd-9640-4f4efa2de663/9aaaae2b-2849-46e8-9eb8-bf5da588f498/VN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b5dca9b5-9f05-4c62-90c3-ad284553ffe4_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color:rgba(0, 0, 0, 0.7);
    max-width: 450px;
    display: flex; 
}
.product-wrapper{
    padding: 48px 68px;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
form p{
    align-self: center;
}
p{
    color: aliceblue;
}
h2{
    color: aliceblue
}
label{
    color: aliceblue;
}