body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/0552717c-9d8c-47bd-9640-4f4efa2de663/9aaaae2b-2849-46e8-9eb8-bf5da588f498/VN-en-20240701-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b5dca9b5-9f05-4c62-90c3-ad284553ffe4_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color:rgba(0, 0, 0, 0.836);
    max-width: 450px;
    display: flex; 
}
.product-wrapper{
    padding: 48px 68px;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
form p{
    align-self: center;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
    margin-bottom: 20px;
}
label{
    color: #f0f8ff;
}
input[type="text"]{
    margin-bottom: 20px;
    height: 56px;
    width: 314px;
    background-color: rgba(0, 0, 0, 0.836);
    border-color: rgba(0, 0, 0, 0.836);
}
button[type="submit"]{
    margin-bottom: 18px;
    height: 40px;
    width: 314px;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}
.button-1{
    background-color: rgba(229, 9, 20);
    border-color:rgba(229, 9, 20)
}
.button-2{
    background-color: rgba(128, 128, 128, 0.3);
    border-color: rgba(128, 128, 128, 0.3);
}
form p{
    margin-bottom: 17px;
    font-size: 16px;
}
p{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}
input[type="checkbox"]{
    margin-bottom: 20px;
}
::placeholder{
    color: rgb(185, 180, 180);
}
.Forgot{
    padding-left: 95px;
    cursor: pointer;
    color: #f0f8ff;
}
label{
    margin-left: 5px;
}
input{
    color: #f0f8ff;
    padding-left: 20px;
}
.button-1:hover{
    background-color: rgb(213, 6, 6);
}
.button-2:hover{
    background-color: rgba(95, 94, 94, 0.3);
}
label{
    font-size: 17px;
}
.second a{
    color: #f0f8ff;
    padding-left: 5px;
    text-decoration: none;
}
.second a:hover{
    text-decoration: underline;
}
.final{
    font-size: 14px;
    margin-bottom: 50px;
    color: rgb(140,140,140);
}
.final a{
    text-decoration: none;
    padding-left: 5px;
    color: rgb(87, 87, 238);
}
.final a:hover{
    text-decoration: underline;
}